<div class="row">

  <div class="col-md-6">
    <%= f.field_container :name do %>
      <%= f.label :name, t(:name) %><br>
      <%= f.text_field :name, class: "form-control fullwidth" %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.field_container :speed do %>
      <%= f.label :speed, t(:speed) %><br>
      <%= f.text_field :speed, placeholder: "integer in milliseconds i.e. 500", class: "form-control fullwidth" %>
    <% end %>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <%= f.field_container :slides_to_scroll do %>
      <%= f.label :slides_to_scroll, t(:slides_to_scroll) %><br>
      <%= f.text_field :slides_to_scroll, placeholder: "integer", class: "form-control fullwidth" %>
    <% end %>
  </div>

    <div class="col-md-6">
    <%= f.field_container :slider_type do %>
      <%= f.label :slider_type, t(:slider_type) %><br>
      <%= f.select :slider_type, ['default', 'custom'], {}, id: "slider-type-select-2", class: "select2 js-filterable" %>
    <% end %>
  </div>

</div>

<div class="row <%= @slide_location.slider_type == 'default' ? 'hide' : nil %> custom-slider-type">
  <div class="col-md-6">
    <% selected_taxons = @slide_location.taxons.map {|p| p.id} %>
    <%= label_tag(:slide_location_taxons, Spree.t(:taxon_products)) %><br>
    <% products_category_taxonomy_id = Spree::ExtraSetting.where(:key => "products_category_taxonomy_id").first.value.to_i %>
    <%= select_tag :slide_location_taxons, options_for_select(Spree::Taxon.where(taxonomy_id: products_category_taxonomy_id).map {|p| [p.name, p.id]}, selected_taxons), 
      {:multiple => true, :class => "select2"} %>
  </div>

  <div class="col-md-6">
    <%= label_tag(:slide_location_products, Spree.t(:products)) %><br />
    <% products = @slide_location.products.map {|p| p.id}%>

    <%= hidden_field_tag "slide_location_products", products.join(","), class: "product_picker" %>
  </div>

  <div class="col-md-6">
    <br>
    <%= label_tag(:taxon_slides, Spree.t(:taxon_slides)) %><br />
    <%= f.select :taxon_slides, ((0..15).map {|i| [i,i] }), {}, class: "select2" %>
  </div>

  <div class="col-md-6">
    <br>
    <% selected_taxon_locations = @slide_location.id ? Spree::Taxon.where(slide_location_id: @slide_location.id).pluck(:id) : nil %>
    <%= label_tag(:taxon_locations, Spree.t(:taxon_locations)) %><br>
    <% products_category_taxonomy_id = Spree::ExtraSetting.where(:key => "products_category_taxonomy_id").first.value.to_i %>
    <%= select_tag :taxon_locations, options_for_select(Spree::Taxon.where(taxonomy_id: products_category_taxonomy_id).map {|p| [p.name, p.id]}, selected_taxon_locations), 
      {:multiple => true, :class => "select2"} %>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <%= f.field_container :slides_to_show do %>
      <%= f.label :slides_to_show, t(:slides_to_show) %><br>
      <%= f.text_field :slides_to_show, placeholder: "integer", class: "form-control fullwidth" %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <%= f.field_container :active  do %>
      <%= f.label :active, t(:active ) %><br>
      <%= f.check_box :active, { checked: @slide_location.active }, "1", "0"%>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.field_container :auto  do %>
      <%= f.label :auto, t(:auto ) %><br>
      <%= f.check_box :auto, { checked: @slide_location.auto }, "1", "0"%>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.field_container :infinite  do %>
      <%= f.label :infinite, t(:infinite ) %><br>
      <%= f.check_box :infinite, { checked: @slide_location.infinite }, "1", "0"%>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= f.field_container :dots  do %>
      <%= f.label :dots, t(:dots ) %><br>
      <%= f.check_box :dots, { checked: @slide_location.dots }, "1", "0"%>
    <% end %>
  </div>

</div>

<script>
  $(document).ready(function () {
    $("body").on('DOMSubtreeModified', "#s2id_slider-type-select-2 span.select2-chosen", function () {
      if ($(this).html() === 'custom') {
        $('.custom-slider-type').removeClass('hide')
      } else {
        $('.custom-slider-type').addClass('hide')
      }
    });
  })
</script>